# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build Objects
Projects/AzOSDCloudGUI/bin/
Projects/AzOSDCloudGUI/obj/
Projects/AzOSDCloudRE/bin/
Projects/AzOSDCloudRE/obj/
Projects/HPOSDCloudGUI/bin/
Projects/HPOSDCloudGUI/obj/
Projects/OSDCloudGUI/bin/
Projects/OSDCloudGUI/obj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
MainWindow.g.i.cs
Projects/AzOSDCloudGUI/obj/Debug/MainWindow.g.cs
